
  .days-amount-tab-template {
    background-color: rgb(244, 246, 248);
    border-radius: 15%;
    margin-left: -240%;
    margin-top: -22px;
    width: 46%;
    height: 327.5px;
    box-shadow: 3px 1px 5px 0px #ddd;
    z-index: -1;
  }

  .days-amount-tab-div {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .pickable-days-amount {
    margin-left: -10%;
  }

  .pickable-days-amount:hover {
    text-decoration: underline;
  }

  .days-amount-input {
    width: 50%;
  }