@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.day-element {
  height: 80%;
  width: 90%;
  background-clip: content-box;
  border-radius: 7px;
  cursor: pointer;
}

.hoverable-div {
  height: 100%;
  border-radius: 7px;
  /* animation: slide-in-left 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.currently-hovered {
  margin-top: -0.15em;
  margin-bottom: -0.15em;
  border-width: 0.15em;
  border-top-style: solid;
  border-bottom-style: solid;
  color: white;
}

.non-current {
  opacity: 0.4;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}

/* .first-selected {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.last-selected {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} */

/* .last-day-of-week {
    background-color: rgb(255, 233, 228);
}

.first-day-of-week {
    background-color: rgb(255, 238, 240);
} */

.today {
  font-weight: bold;
}
