.not-in-range:hover {
    background-color: rgb(226, 225, 225);
}

.in-range:hover {
    background-color: none;
}

.selected-day {
    margin-top: -0.1em;
    margin-bottom: -0.1em;
    border-width: 0.1em;
    border-top-style: solid;
    border-bottom-style: solid;
}
