.not-in-range:hover {
  background-color: var(--calendar-hover)
}

.in-range:hover {
  background-color: none;
}

.selected-day {
  margin-top: -0.15em;
  margin-bottom: -0.15em;
  border-width: 0.15em;
  border-top-style: solid;
  border-bottom-style: solid;
  color: white;
}

.enabled {
  animation: fadein 0.4s;
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
