.tooltip {
  position: fixed;
  background-color: black;
  color: white;
  opacity: 0.8;
  border-radius: 10px;
  display: flex;
  z-index: 999;
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: inline-block;
  animation: tooltip-fadein 4s;
}

@keyframes tooltip-fadein {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
