.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 350px;
    font-size: 1.2em;
    border-radius: 16px;
    background-color: rgb(244, 246, 248);
    position: absolute;
    outline: none;  
}

.button:hover {
    background-color:rgb(226, 225, 225);
    cursor: pointer;
}

.calendar-icon {
    height: 30px;
    margin-left: 3%;
}