.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 350px;
    font-size: 1.2em;
    border-radius: 16px;
    background-color: rgb(229, 229, 238);
    outline: none;    
}

.button:hover {
	background-color:#c0c0c0;
}

.calendar-icon {
    height: 30px;
    margin-left: 3%;
}