.calendar-component {
  text-align: center;
  position: absolute;
  height: 295px;
  width: 255px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 3px 1px 5px 0px #ddd;
  padding: 0px 5px 10px 5px;
  background-color: rgb(244, 246, 248);
  z-index: 2;
}

.month-grid {
  display: grid;
  height: 70%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}