.selected-dates {
    display: flex;
    height: 22px;
    justify-content: space-around;

    /* background-color: rgb(231, 231, 231); */
    background-color: rgb(244, 246, 248);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -22px;
    
    box-shadow: 3px 1px 5px 0px #ddd;
  }
  
.dates-display:lang(Hebrew) {
  margin-right: -12%;
}

.dates-display:lang(English) {
  margin-left: -12%;
}

.dates-display {
  margin-left: 5%;
  font-size: 1em;
  font-weight: 500;
  width: 180px;
}

.clear {
  background-color: rgb(244, 246, 248);
  border-style: hidden;
  color: white;
  border-radius: 15px;
  height: 17px;
  margin-top: 0.5%;
  outline: none;
  font-weight: 600;
}

.clear:lang(Hebrew) {
  margin-left: -12%;
}

.clear:lang(English) {
  margin-right: -12%;
}

.clear:hover {
    opacity: 0.8;
}