.selected-dates {
  display: flex;
  height: 22px;
  justify-content: space-around;
  /* background-color: rgb(231, 231, 231); */
  background-color: rgb(244, 246, 248);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: -22px;  
  box-shadow: 3px 1px 5px 0px #ddd;
}

.one-board.dates-display:lang(Hebrew) {
  /* margin-right: -15%; */
}

.one-board.dates-display:lang(English) {
  /* margin-left: -15%; */
}

.two-boards.dates-display:lang(Hebrew) {
  margin-right: -15%;
}

.two-boards.dates-display:lang(English) {
  margin-left: -15%;
}

.dates-display {
  margin-left: 5%;
  margin-top: 0.5%;
  font-size: 0.9em;
  font-weight: 500;
  width: 220px;
}

.clear {
  background-color: rgb(244, 246, 248);
  border-style: hidden;
  color: white;
  border-radius: 15px;
  height: 17px;
  margin-top: 0.7%;
  outline: none;
  font-weight: 600;
}

/* .clear:lang(Hebrew) {
  margin-left: -12%;
}

.clear:lang(English) {
  margin-right: -12%;
  margin-right: 1%;
} */

.two-boards.clear:lang(Hebrew) {
  margin-right: -15%;
}

.two-boards.clear:lang(English) {
  margin-left: -15%;
}

.one-board.clear:lang(Hebrew) {
  margin-right: 1%;
}

.one-board.clear:lang(English) {
  margin-right: 4%;
}

.clear:hover {
    opacity: 0.8;
}