.calendar-header-template {
  background-color: rgb(244, 246, 248);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 22px;
  margin-top: -22px; 
}

.calendar-header-background {
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 3px 1px 5px 0px #ddd;
}

.calendar-header-elements-wrap {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.calendar-header-elements-wrap:lang(Hebrew) {
  flex-direction: row-reverse;
}

.dates-display {
  display: flex;
  position: relative;
  margin-top: 0.175em;
  font-size: 0.9em;
  font-weight: 500;
  /* width: 210px; */
  width: 80%;
}

.dates-display:lang(Hebrew) {
  direction: rtl;
}

.dates-display-portal {
  background-color: orange;
  display: inline-flex;
  /* position: relative; */
  font-size: 0.9em;
  font-weight: 500;
  /* width: 210px; */
  width: 50%;
  /* height: 500%; */

  z-index: 9999;
}

.choosen-dates {
  display: flex;
  flex-direction: row;
}

.dates-display-portal:lang(Hebrew) {
  direction: rtl;
}

.selected-dates-count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgb(185, 131, 131);
  border-radius: 50%;
  min-width: 22px;
  min-height: 20px;
  margin-top: -2px;
  padding-bottom: 2px;
  margin-left: 2%;
  margin-right: 2%;
}

.clear {
  background-color: rgb(244, 246, 248);
  border-style: hidden;
  color: white;
  border-radius: 15px;
  height: 17px;
  margin-top: 0.175em;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.clear:hover {
    opacity: 0.8;
}