.settings {
    display: flex;
    justify-content: space-between;
}

.color-picker-palette {
    outline: none;
    width: 90%;
}

.color-circle {
    margin-left: 5%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.right-hand {
    margin-left: -25%;
    height: 25px;
}

.selectable-color-circle {
    margin-bottom: 2.5%;
    margin-left: 1%;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.selectable-color-circle:hover {
    height: 15px;
}

.pick-button {
    border-radius: 20px;
    height: 30px;
    width: 60px;
    margin-right: 3%;
    border-width: 2px;
    outline: none;
}

.pick-button:hover {
    opacity: 0.8;
}

.checkbox {
    height: 20px;
}

.checkbox-div {
    display: flex;
    margin-top: 1.5%;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: bold;
    width: 80px;
}

.select-all-text {
    display: inline-block;
    margin-left: 4%;
    font-size: 0.7em;
}

.checkbox-div:hover {
    text-decoration: underline;
}