.dates-display {
  display: flex;
  position: relative;
  margin-top: 0.15em;
  font-size: 0.9em;
  font-weight: 500;
  /* width: 210px; */
  width: 80%;
}

.dates-display:lang(Hebrew) {
  direction: rtl;
}

.dates-display-list {
  margin-top: 0.15em;
  /* margin-top: -3.5em; */
  background-color: var(--calendar-bgc);
  display: inline-flex;
  font-size: 0.9em;
  font-weight: 500;
  width: 50%;
  height: 450%;
  border-radius: 12px;
}

.dates-display-list:lang(Hebrew) {
  direction: rtl;
}

.hoverable-chosen-dates {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  direction: ltr;
  border-radius: 12px;
}

.hoverable-chosen-dates::-webkit-scrollbar {
  width: 7px;
  border-radius: 4px;
  background-color: var(--calendar-hover);
}

.hoverable-chosen-dates::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--moderate-hover);
}
  
.hoverable-chosen-dates::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-hover);
}

.hoverable-chosen-dates::-webkit-scrollbar-thumb:active {
  background-color: var(--super-dark-hover);
}
