.App {
  width: 100vw;
  height: 100vh;
  user-select: none;
  opacity: 0.9;
  display: flex;
  margin-top: 10%;
  /* align-items: center; */
  justify-content: center;
}

.date-range-picker-component {
  user-select: none;
  display: flex;
  margin-top: 95px;
  margin-left: -75px;
  justify-content: center;

}

.dates-display.hebrew {
  flex-direction: "row-reverse";
  margin-right: 5%;
}

.dates-display {
  margin-left: 5%;
  font-size: 1em;
  font-weight: 500;
}

.date-range-picker {
  position: absolute;
  margin-left: 1.5%;
  margin-top: -1.3%;
  /* align-items: center; */
  width: 795px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  outline: none;
}

.calendar-component {
  text-align: center;
  position: absolute;
  height: 295px;
  width: 255px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 3px 1px 5px 0px #ddd;
  padding: 0px 5px 10px 5px;
  background-color: rgb(244, 246, 248);
}

.picker-toggler,
.hand-right {
  float: left;
  margin-left: 2em;
}

.picker-toggler {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.hand-right {
  margin-right: 5px;
  height: 30px;
}

.color-picker {
  float: left;
  height: 1.5rem;
}

.circle-picker {
  padding-top: 10px !important;
  margin-right: 0 !important;
}
